# Python Keywords

Keywords are reserved words. They can't be used as a variable name, function name or any other identifier. They are also case-sensitive.

In [ ]:
import keyword

print(keyword.kwlist)

print(f"\nThe total number of keywords in Python are : {len(keyword.kwlist)}")

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

The total number of keywords in Python are : 35

# Python Identifiers

Identifiers are words used to name entities like functions, variables and classes, thereby helping to differentiate them. They can:

* be a combination of upper case alphabets (A-Z), lower case alphabets (a-z), underscore and numbers (1-9)
* not begin with a number
* not have a Python keyword
* noy have any special characters (such as !, @, #, $, &, etc.)

In [ ]:
abc_12 = 3
print(abc_12)

3

In [ ]:
12abc = 3

SyntaxError: invalid decimal literal (<ipython-input-4-f4264c063368>, line 1)

In [ ]:
global = 2

SyntaxError: invalid syntax (<ipython-input-5-f8e7e1d15b1b>, line 1)

In [ ]:
a& = 4

SyntaxError: invalid syntax (<ipython-input-6-535a38f2b23d>, line 1)

# Variables

A variable is a location in memory used to store some data.

They are given unique names, with the rules of naming similar to identifiers.

In Python, we do not have ot declare the data type of the variable before assigning data. It is handled internally.

In [ ]:
a = 3

b = 2

c = 1

d = e = f = "stage"

# Storage Locations

In [ ]:
x = 3

print(id(x))

10750920

In [ ]:
y = 3

print(id(y))

10750920

So, the observation is that x and y point to the same location. So, Python reuses memory locations.

In [ ]:
y = 2

print(id(y))

10750888

# Data Types

Every value in Python has a data type. Since everything is an object in Python programming, data types are actually classes and variables are instances of these classes.

In [ ]:
a = 5

print(f"a is of type {type(a)}")

a is of type <class 'int'>

In [ ]:
b = 2.5

print(f"b is of type {type(b)}")

b is of type <class 'float'>

In [ ]:
c = 2 + 3j

print(f"c is of type {type(c)}")

c is of type <class 'complex'>

In [ ]:
d = True

print(f"d is of type {type(d)}")

d is of type <class 'bool'>

# Python Strings

A Python string is a sequence of unicode characters. We can use single quotes to represent strings. Multi-line strings can be represented using triple quotes ''' or """.

Strings can be indexed (aka subscripted). Similar to C, the first character of a string has index 0.

In [ ]:
s = "This is a improving my Python basics and also doubles as interview prep."

print(f"s is of type {type(s)}")

s is of type <class 'str'>

In [ ]:
#print first and last character of string
print(s[0])

print(s[-1])

print(s[len(s)-1])

T
.
.

In [ ]:
#print everything from the 5th index of string
print(s[5:])

is a improving my Python basics and also doubles as interview prep.

# Python List

List is an ordered sequence of items. It is one of the most used datatypes in Python and is very flexible. **All the items of a list need not be of the same data type**.

In order to declare a list, you have the items inside square brackets separated by commas.

In [ ]:
a = [10, 20.5, "Hello"]

print(a[0])

print(a[1])

print(a[2])

10
20.5
Hello

**Lists are mutable**, meaning, **the values of the elements of a list can be changed**.

In [ ]:
a[1] = "Bombogongo"

print(a)

[10, 'Bombogongo', 'Hello']

# Python Tuple

Tuple is an **ordered sequence of items**, just like a list. It can **hold elements of different data types**. It is declared using parantheses.

The differenece between tuples and lists is that **tuples are immutable**. The elements of a tuple, once created, cannot be modified.

In [ ]:
t = (1, 1.5, "Bytesized")

print(f"t is of type {type(t)}")

t is of type <class 'tuple'>

In [ ]:
print(t[1])

1.5

In [ ]:
t[1] = "Beyhloo"

TypeError: 'tuple' object does not support item assignment

# Python Set

Set is an **unordered collection of unique items**. It can hold elements of different data types. A set is declared by items seperated by commas inside curly braces { and }.

The items in a set are not ordered.

We can also perform set operations like union and intersection on two sets.

In [ ]:
s = {1, 2, 3, "Hello"}

print(f"s is of type {type(s)}")

s is of type <class 'set'>

In [ ]:
#Set automatically does not consider duplicates.
s = {10, 20, 20, 30, 30, 40, "Hello"}

print(s)

{20, 'Hello', 40, 10, 30}

In [ ]:
#Set cannot be indexed because it is unordered. It cannot be indexed/subscripted.
print(s[1])

TypeError: 'set' object is not subscriptable

# Python Dictionary

A dictionary is an **unordered collection of key-value pairs**.

Dictionaries are defined using curly braces { and }, with each element being a pair of the form key:value. The **key and the value can be of any data type**.

In [ ]:
d = {"a":"Apple", "b":"Ball", "c":"cat"}

print(f"d is of type {type(d)}")

d is of type <class 'dict'>

In [ ]:
print(d["a"])

Apple

In [ ]:
#If calling a key that does not exist in dictionary, it raises a KeyeError
print(d["d"])

KeyError: 'd'

# Conversion between Datatypes

We can convert between different Datatypes using different conversion functions like int(), float(), str() etc.

In [ ]:
a = 50

print(f"a is of type {type(a)}")

b = float(a)

print(f"b is of type {type(b)}")

a is of type <class 'int'>
b is of type <class 'float'>

In [ ]:
a = 50

print(f"a is of type {type(a)}")

b = str(a)

print(f"b is of type {type(b)}")

a is of type <class 'int'>
b is of type <class 'str'>

Conversion to and from a string must contain compatible values.

In [ ]:
a = "50p"

print(f"a is of type {type(a)}")

b = int(a)

print(f"b is of type {type(b)}")

print(b)

a is of type <class 'str'>

ValueError: invalid literal for int() with base 10: '50p'

In [ ]:
a = "50"

print(f"a is of type {type(a)}")

b = float(a)

print(f"b is of type {type(b)}")

print(b)

a is of type <class 'str'>
b is of type <class 'float'>
50.0

In [ ]:
user = "Rohit"
lines = 100

print(f"Conragulations {user}! You just wrote {str(lines)} lines of code.")

Conragulations Rohit! You just wrote 100 lines of code.

We can also convert one sequence to another.

In [ ]:
a = [1, 2, 3, 4, 5, "Hello", 9.54]

print(f"a is of type {type(a)}")

s = set(a)

print(f"s is of type {type(s)}")

a is of type <class 'list'>
s is of type <class 'set'>

In [ ]:
a = "Hello"

print(list(a))

['H', 'e', 'l', 'l', 'o']

# Python Input and Output

If you want to output something, you use print(). If you want to take some input from the user, you use input().

In [ ]:
a = "sunny"

print(f"Today is very very {a}")

Today is very very sunny

In [ ]:
b = input("Enter an adjective: ")

print(f"You are {b}.")

Enter an adjective: kind
You are kind.

# Operators

Operators are special symbols used to carry out arithematic and logical computations.

# Operator Types

*   Arithematic (+, -,  *, /, //, %, **)
*   Comparison (>, <, ==, !=, >=, <=)
*   Logical (AND, OR, NOT)
*   Bitwise (&, |, -, ^, >>, <<)
*   Assignment (=, +=, -=, \*=, /=, %=, //=, **=, &=, |=, ^=, >>=, <<=)
*   Special (is, is not, in, not in)

# Python If ... Else Statement

The if... elif ... else statement in Python is used for decision making.


    if test expression:

        Body of if
    elif test expression:

        Body of elif

    else:
        Body of else

The program evaluvates the test expressions and will execute the Body only if the respective test expression is true. If the test expression is false, the statement is not executed.

**If the test expression is just a 0, None or False, the test expression is considered to be False. Everything else is considered to be True.**

# Python while Loop

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is True.

      while test_expression:

          Body of while

The body of the while loop is entered only if the test_expression evaluates to True. After one iteration, the test_expression is checked again.

# while Loop with else

Similar to the of for loop, we can have an additional else statement in the while loop. The else part is executed if the test_statement in the while loop evaluates to False.

The while loop can be terminated with a break statement. In such cases, the else part is ignored. Hence, the else part of a while loop runs if the test_condition in the while loop evaluates to False and there is no break statement.

# Python for Loop

The for loop in Python is used to iterate over a list or a sequence(list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

        for element in sequence:

            Body of for

Here, element is the variable that takes the value of the item inside the sequence of each iteration. The loop continues till we reach the last item in the sequence.

# range() function

We can generate a sequence of numbers using the range() function. range(10) will generate numbers starting from 0 to 9 (10 numbers).

We can also define the start, stop and stepsize as range(start, stop, stepsize). Step size defaults to 1 if not provided.

**This function does not store all the values in memory, since it would be inefficient.** So, it remembers the start, stop and stepsize and generates the next number on the go.

# Python break and continue Statements

In Python, break and continue statements can alter the flow of a normal loop.

If we wish to terminate the current iteration or even the whole loop without testing the test expression, the break and continue statements are used.