# Data Structures

A data structure is a collection of data elements (such as numbers or characters - or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

# Lists

List is one of the "sequence" data structure.

* Lists are a collection of items (strings, integers or even other lists),

* Lists are enclosed in [ ],

* Each item in the list has an assigned index value,

* Each item in a list is separated by a comma,

* Lists are mutable, which means they can be changed.

# List Creation

In [ ]:
emptyList = []

lst = [1, 2, 3, 4]

lst1 = [2.5, 2.5, 1, 4, "Hello"]

lst2 = ["berry", 2, 4.985, [3, 5, "Very berry", "Valberry"]]

print(lst2)

['berry', 2, 4.985, [3, 5, 'Very berry', 'Valberry']]

# List Length

In [ ]:
lst2 = ["berry", 2, 4.985, [3, 5, "Very berry", "Valberry"]]

print(len(lst2))

4

# List Append

In [ ]:
print(f"This is the list we're working with. It is : {lst2}")

lst2.append("Three")

print(f"This is the list after we appended \"Three\" : {lst2}")

This is the list we're working with. It is : ['berry', 2, 4.985, [3, 5, 'Very berry', 'Valberry']]
This is the list after we appended "Three" : ['berry', 2, 4.985, [3, 5, 'Very berry', 'Valberry'], 'Three']

# List Insert

In [ ]:
lst = ['one', 'two', 'three']

lst.insert(2, "polo")         #inserts "polo" in second index.

print(lst)

['one', 'two', 'polo', 'three']

# List Remove

In [ ]:
lst = ['one', 'two', 'three', 'four', 'two', 'five']

lst.remove('two')             #removes first instance of "two" from the list.

print(lst)

['one', 'three', 'four', 'two', 'five']

# List Append & Extend

In [ ]:
lst = ["One", "Two", "Three"]

lst2 = ["Mommy", "Daddy"]

#append
lst.append(lst2)

print(lst)

['One', 'Two', 'Three', ['Mommy', 'Daddy']]

In [ ]:
lst = ["One", "Two", "Three"]

lst2 = ["Mommy", "Daddy"]

#extend
lst.extend(lst2)

print(lst)

['One', 'Two', 'Three', 'Mommy', 'Daddy']

# List Delete

In [ ]:
lst = ["one", "two", "three", "four", "five"]
print(f"The original list is {lst}.")

del lst[1]
print(f"After deleting index 1 using the del keyword, the resulting list is {lst}.")

#or we can use pop().

a = lst.pop(1)
print(f"We popped element from index 1 of the list which is {a} and the resulting list is {lst}.")

The original list is ['one', 'two', 'three', 'four', 'five'].
After deleting index 1 using the del keyword, the resulting list is ['one', 'three', 'four', 'five'].
We popped element from index 1 of the list which is three and the resulting list is ['one', 'four', 'five'].

In [ ]:
lst = ["once", "twice", "thrice"]

#remove an item from the list.
lst.remove("thrice")

print(lst)

['once', 'twice']

# List reverse

In [ ]:
lst  = ["one", "two", "three"]

lst.reverse()

print(lst)

['three', 'two', 'one']

# List Sorting

The easiest way to sort a list is with the **sorted(list) function**.

That takes the original list and **returns a new list that has its elements sorted**.

The **original list is unchanged**.

The sorted optional argument (reverse = True) makes it sort backwards.

In [ ]:
lst = [3, 1, 2, 4, 5, 6, 3, 4]

print(f"The original list is {lst}")

print(f"The sorted list is {sorted(lst)}")

print(f"The reverse sorted list is {sorted(lst, reverse = True)}")

The original list is [3, 1, 2, 4, 5, 6, 3, 4]
The sorted list is [1, 2, 3, 3, 4, 4, 5, 6]
The reverse sorted list is [6, 5, 4, 4, 3, 3, 2, 1]

In [ ]:
#Sorting list and storing in itself.
lst = [1, 20, 7, 2387, 23, 3, 4, 2]

print(f"The original list is {lst}")

lst.sort()

print(f"The sorted list using sort() is {lst}")

The original list is [1, 20, 7, 2387, 23, 3, 4, 2]
The sorted list using sort() is [1, 2, 3, 4, 7, 20, 23, 2387]

In [ ]:
lst = [1, 20, "b", 5, "a"]

print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

# List having multiple references

In [ ]:
lst = [1, 2, 3, 4, 5]
abc = lst

print(f"Original list is {lst}")

abc.append(6)               #Changes both abc and original list lst

print(f"Appended list in abc is {abc}")
print(f"Original list in lst is {lst}")

Original list is [1, 2, 3, 4, 5]
Appended list in abc is [1, 2, 3, 4, 5, 6]
Original list in lst is [1, 2, 3, 4, 5, 6]

# String split to create a list

In [ ]:
a = "one,two,three,four,five"

alst = a.split(",")

print(alst)

['one', 'two', 'three', 'four', 'five']

In [ ]:
s = "This is an M3 Macbook Air"

slst = s.split()          #Default split is white-character: space or tab

print(slst)

['This', 'is', 'an', 'M3', 'Macbook', 'Air']

# List Slicing

Accessing parts of segments is called slicing.

The key point to remember is that the :end value represents the first value that is not selected in the slice.

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#print all elements
print(numbers[:])

#print first four elements
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40]

In [ ]:
#print alternate numbers
print(numbers[::2])

#print alternate numbers starting from index 2
print(numbers[2::2])

[10, 30, 50, 70, 90]
[30, 50, 70, 90]

# List Extend using "+"

In [ ]:
lst1 = [1, 2, 3]
lst2 = ["parent", "son", "daughter"]
new_lst = lst1+lst2

print(new_lst)

[1, 2, 3, 'parent', 'son', 'daughter']

# List Count

In [ ]:
numbers = [1, 2, 3, 4, 3, 2, 4, 5, 5, 2, 4, 2, 4, 2, 4, 3]\


print(f"The frequency of 4 is {numbers.count(3)}.")

The frequency of 4 is 3.

# List Comprehensions

List comprehensions provide a conscise way to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
#Without comprehension

squares = []

for ele in range(10):
  squares.append(ele**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Using list comprehension
squares = [i**2 for i in range(10)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Nested List Comprehensions

In [ ]:
#lets suppose we have a matrix

matrix = [[1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12]]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
  lst = []
  for row in matrix:
    lst.append(row[i])
  transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# Tuples

*   A tuple is like a list.
*   Tuples, unlike lists, are immutable.

# Tuple Creation

In [ ]:
t = ()

t1 = (1, 2, 3)

t2 = (1, 4.5, "Raju", 6)

t3 = (1.4, 9, "Mona", [2, 4, 5.7, "Birju"])

print(t3)

(1.4, 9, 'Mona', [2, 4, 5.7, 'Birju'])

In [ ]:
#only paranthesis is not enough
t = ("Satish")
print(type(t))

<class 'str'>

In [ ]:
#needs a comma at the end
t = ("Satish",)
print(type(t))

<class 'tuple'>

In [ ]:
#paranthesis is optional
t = "Satish",
print(type(t))

print(t)

<class 'tuple'>
('Satish',)

# Accessing Elements in a Tuple

In [ ]:
t = ("Satish", "Beelo", "Comofri", "Bradjne", ("Sammy", "Fortinmen", "Faivgers"))

print(f"First element is {t[1]}")

print(f"Second last element is {t[-2]}")

print(f"Last element is {t[-1]}")

print(f"Second element in last tuple within the tuple is {t[-1][1]}")

First element is Beelo
Second last element is Bradjne
Last element is ('Sammy', 'Fortinmen', 'Faivgers')
Second element in last tuple within the tuple is Fortinmen

In [ ]:
#Slicing
t = (1, 2, 3, 4, 5, 6, 6)

print(f"Second element to the fourth element is : {t[1:4]}")
print(f"First element to the second last element is : {t[:-2]}")
print(f"All elements are : {t[:]}")

Second element to the fourth element is : (2, 3, 4)
First element to the second last element is : (1, 2, 3, 4, 5)
All elements are : (1, 2, 3, 4, 5, 6, 6)

# Changing a Tuple

* Unlike lists, tuples are immutable - the elements cannot be changed,
* However if the element itself is a mutable datatype like a list, its nested items can be changed.

In [ ]:
t = ("Satish", 2, "Beelo", 5, "Comofri", "Bradjne", ["Sammy", "Fortinmen", "Faivgers"])

t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t[-1][0] = "Sunwatim"

print(t)

('Satish', 2, 'Beelo', 5, 'Comofri', 'Bradjne', ['Sunwatim', 'Fortinmen', 'Faivgers'])

In [ ]:
#Concatenating tuples
t1 = (1, 2, 3)
t2 = ("sdfaf", "awefv", "rtgon")

t1+t2

(1, 2, 3, 'sdfaf', 'awefv', 'rtgon')

In [ ]:
#repeating elements for a given number of times using *

t = (("Frominetanis",) * 4)
print(t)

('Frominetanis', 'Frominetanis', 'Frominetanis', 'Frominetanis')

# Tuple Deletion

Tuples are immutable. That also means we cannot delete or remove elements from a tuple.

We can choose to delete the entire tuple if we wish to.

In [ ]:
t = (1, 2, 3, 4, 5)

#delete the entire tuple
del t

# Tuple Count

In [ ]:
t = (1, 2, 3, 4, 2, 2, 4, 3, 2, 4, 2, 4)

#returns frequency of the element in the tuple
t.count(2)

5

# Tuple Index

In [ ]:
t = (1, 2, 3, 4, 2, 2, 4, 3, 2, 4, 2, 4)

#returns index of first occurence of the element in the tuple
t.index(4)

3

# Tuple Membership

In [ ]:
t = (1, 2, 4, 3, 5, 6, 8, 4)

#returns if element is present in tuple
print(5 in t)

True

In [ ]:
print(10 in t)

False

# Built-in Tuple Functions

# Tuple Length

In [ ]:
t = (1, 2, 3, 4, 2, 2, 4, 3, 2, 4, 2, 4)

print(len(t))

12

#Tuple Sort

In [ ]:
t = (1, 2, 3, 4, 2, 2, 4, 3, 2, 4, 2, 4)

#sorted() returns a new tuple that is sorted. It does not change the tuple itself.
sorted_t = sorted(t)
print(sorted_t)

[1, 2, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4]

# Min, Max and Sum in Tuples

In [ ]:
t = (1, 2, 3, 4, 2, 2, 4, 3, 2, 4, 2, 5, 78, 5, 2, 79, 3, 7, 3 , 5, 44)

print(max(t))

79

In [ ]:
t = (1, 2, 3, 4, 2, 2, 4, 3, 2, 4, 2, 5, 78, 5, 2, 79, 3, 7, 3 , 5, 44)

print(min(t))

1

In [ ]:
t = (1, 2, 3, 4, 2, 2, 4, 3, 2, 4, 2, 5, 78, 5, 2, 79, 3, 7, 3 , 5, 44)

print(sum(t))

260

#Sets

* A set is an unordered collection of items. Every element is unique (no duplicates).

* The set itself is mutable. We can add or remove items from it.

* Sets can be used to perform mathematical operation slike union, intersection, set difference, etc.

# Set Creation

In [ ]:
s = {1, 2, 4, 3, 2, 1, 5}
print(s)                                        #only prints unique values.

print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#we can make a set from a list
s = set([1, 2, 3, 4, 2, 1, 5])

print(s)

{1, 2, 3, 4, 5}

In [ ]:
#we can intialise a set using set() method
s = set()

print(type(s))

<class 'set'>

# Adding Elements to a Set

We can add a asingle element to a set using the add() method and add multiple elements to a set using update() method.

In [ ]:
s = {1, 2}

print(s[1])                                   #Sets are unordered. Hence, we cannot index/subscript.

TypeError: 'set' object is not subscriptable

In [ ]:
#add element
s.add(3)

print(s)

{1, 2, 3}

In [ ]:
#add multiple elements
s.update([5, 6, 1])

print(s)

{1, 2, 3, 5, 6}

In [ ]:
#add lists and set
s.update([8, 9], (5, 10, 3))

print(s)

{1, 2, 3, 5, 6, 8, 9, 10}

#Remove Elements from a Set

A particular element can be removed from a set using the discard() and remove() methods.

In [ ]:
s = {1, 2, 3, 4}
print(s)

s.remove(2)
print(s)

{1, 2, 3, 4}
{1, 3, 4}

In [ ]:
s.discard(4)
print(s)

{1, 3}

In [ ]:
#removing an element not present in set results in a KeyError
s.remove(10)
print(s)

KeyError: 10

In [ ]:
#However, discarding an element not present in set does not result in a KeyError.
s.discard(9)
print(s)

{1, 3}

In [ ]:
#We can remove an item from a set using the pop() method.
s = {1,4, 5, 6, 2, 9, 4, 89, 3}
print(s)

s.pop()             #remove a random element
print(s)

{1, 2, 3, 4, 5, 6, 9, 89}
{2, 3, 4, 5, 6, 9, 89}

In [ ]:
#we can use clear() method to remove all elements from a set
s.clear()
print(s)

set()

# Python Set Operators

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#union of sets using operators
print(set1 | set2)

#or
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#intersection of sets using operators
print(set1 & set2)

#or
print(set1.intersection(set2))

{3, 4, 5}
{3, 4, 5}

In [ ]:
#set difference (elements in set 1 but not in set 2) using operators
print(set1 - set2)

#or
print(set1.difference(set2))

{1, 2}
{1, 2}

In [ ]:
#symmetric difference (elements in both set 1 and set 2, but not in both) using operators
print(set1 ^ set2)

#or
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}
{1, 2, 6, 7}

In [ ]:
#find issubset()
x = {1, 2, 3, 4, 5, 6, 6, 7}
y = {3, 4}

print(f"Is x a subset of y? {x.issubset(y)}")

print(f"Is y a subset of x? {y.issubset(x)}")

Is x a subset of y? False
Is y a subset of x? True

# Frozen Sets

Frozen sets have the characteristics of a set, but cannot be changed once it is assigned. While tuples are immutable lists, frozen sets are immutable sets.

Frozensets can be created using the function frozenset().

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as dictionary keys.

The datatype supports methods like copy(), difference(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable, t does not have any method that adds or removes elements.

In [ ]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])

set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
print(set1[1])

TypeError: 'frozenset' object is not subscriptable

In [ ]:
print(set1 | set2)

print(set1 & set2)

print(set1 ^ set2)

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2, 5, 6})

#Dictionary

Python dictionary is an unordered collection of items. While other compound data types have only values as elements, a dictionary has a key:value pair.

#Dict Creation

In [ ]:
#empty dict
my_dict = {}

#dict with integer keys
my_dict = {1 : 'abc', 2 : 'xyz'}
print(my_dict)

#dict with mixed keys
my_dict = {'name' : 'Satish', 1 : ['abc', 'xyz']}
print(my_dict)

#creating empty dict using dict()
my_dict = dict()

#create a dict with a list of tuples
my_dict = dict([(1, 'abc'), (2, 'xyz')])
print(my_dict)

{1: 'abc', 2: 'xyz'}
{'name': 'Satish', 1: ['abc', 'xyz']}
{1: 'abc', 2: 'xyz'}

#Dict Access

In [ ]:
my_dict = {'name' : 'Satish', 'age' :  27, 'address' : 'Patna'}

print(my_dict['name'])

Satish

In [ ]:
#if key is not present, it gives KeyError

print(my_dict['degree'])

KeyError: 'degree'

In [ ]:
#another way of accessing keys using get method
print(my_dict.get('address'))

#if key is not present, it will give none while using get method
print(my_dict.get('degree'))

Patna
None

#Dict Add or Modify Elements

In [ ]:
my_dict = {'name' : 'Satish', 'age' :  27, 'address' : 'Patna'}

my_dict['name'] = "Raju"

print(my_dict)

{'name': 'Raju', 'age': 27, 'address': 'Patna'}

In [ ]:
my_dict['degree'] = "M.S."

print(my_dict)

{'name': 'Raju', 'age': 27, 'address': 'Patna', 'degree': 'M.S.'}

#Dict Delete or Remove Element

In [ ]:
my_dict = {'name' : 'Satish', 'age' :  27, 'address' : 'Patna'}

#remove a particular item
print(my_dict.pop('age'))

print(my_dict)

27
{'name': 'Satish', 'address': 'Patna'}

In [ ]:
my_dict = {'name' : 'Satish', 'age' :  27, 'address' : 'Patna'}

#remove an arbitrary item
my_dict.popitem()

print(my_dict)

{'name': 'Satish', 'age': 27}

In [ ]:
squares = {2 : 4, 3 : 9, 4 : 16, 5 : 25}

#delete particular key
del squares[2]

print(squares)

{3: 9, 4: 16, 5: 25}

In [ ]:
#remove all items
squares.clear()

print(squares)

{}

In [ ]:
squares = {2 : 4, 3 : 9, 4 : 16, 5 : 25}

#delete dictionary itself
del squares

print(squares)

NameError: name 'squares' is not defined

#Dictionary Methods

In [ ]:
squares = {2 : 4, 3 : 9, 4 : 16, 5 : 25}

my_dict = squares.copy()

print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#fromkeys(seq[, v]) -> returns a new dictionary with keys from seq and value v
subjects = {}.fromkeys(["Hindi", "English", "French"], 0)
print(subjects)

{'Hindi': 0, 'English': 0, 'French': 0}

In [ ]:
my_dict = {2 : 4, 3 : 9, 4 : 16, 5 : 25}

print(f"The dictionary's items are : {my_dict.items()}")
print(f"The dictionary's keys are : {my_dict.keys()}")
print(f"The dictionary's values are : {my_dict.values()}")

The dictionary's items are : dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])
The dictionary's keys are : dict_keys([2, 3, 4, 5])
The dictionary's values are : dict_values([4, 9, 16, 25])

In [ ]:
#get list of all available attributes and methods of dictionary
d = {}
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

#Dict Comprehension

In [ ]:
d = {'a' : 1, 'b' : 2, 'c' : 3}
for pair in d.items():
  print(pair)

('a', 1)
('b', 2)
('c', 3)

In [ ]:
d = {'a' : 1, 'b' : 2, 'c' : 3}
new_dict = {k:v for k, v in d.items() if v > 2}

print(new_dict)

{'c': 3}

In [ ]:
d = {'a' : 1, 'b' : 2, 'c' : 3}
new_dict = {k + '_item':v*5 for k, v in d.items() if v > 2}

print(new_dict)

{'c_item': 15}

#Strings

A string is a sequence of characters.

Computers deal with numbers, not characters. The conversion of a character to a number is called encoding and the opposite is called decoding. ASCII and Unicode are some of the popular encodings used.

In Python, a string is a set of Unicode characters.

#Accessing Characters in a String

In [ ]:
myString = 'Hello'

#subscriptin/indexing
print(myString[1])

#slicing
print(myString[2:5])

e
llo

If we try to index out of range or use decimals, we get an error

In [ ]:
print(myString[30])

IndexError: string index out of range

In [ ]:
print(myString[1.3])

TypeError: string indices must be integers, not 'float'

#Changing/Deleting Strings

Strings are immutable, and so, we cannot change the characters of a string once assigned.

We can simply reassign different strings to the same name.

In [ ]:
s = "Hello"

s[4] = 'p'

TypeError: 'str' object does not support item assignment

We cannot delete or remove individual characters from a string, but can delete the string as a whole.

In [ ]:
del s

In [ ]:
s

NameError: name 's' is not defined

#String Operations

#String Concatenation

In [ ]:
s1 = "Hello"
s2 = "Morty"

print(s1 + " " + s2)
print(s2*5)

Hello Morty
MortyMortyMortyMortyMorty

#Iterating Through a String

In [ ]:
count = 0
mystr = "Gregory House"
for l in mystr:
  if l == 'r':
    count += 1

print(f"The letter 'r' appears {count} times in \"{mystr}\".")

The letter 'r' appears 2 times in "Gregory House".

#String Membership Test

In [ ]:
print('k' in 'Family')

False

In [ ]:
print('R' in 'Rohit')

True

#String Methods

Some of the commonly used methods are upper(), lower(), join(), split(), find(), replace(), etc.

In [ ]:
s1 = "Disdain"
s2 = s1.lower()

print(s1)
print(s2)

Disdain
disdain

In [ ]:
"Trophy".upper()

'TROPHY'

In [ ]:
"The History and Philosophy of Science".split()

['The', 'History', 'and', 'Philosophy', 'of', 'Science']

In [ ]:
print(' '.join(['The', 'History', 'and', 'Philosophy', 'of', 'Science']))

print(''.join(['The', 'History', 'and', 'Philosophy', 'of', 'Science']))

print(','.join(['The', 'History', 'and', 'Philosophy', 'of', 'Science']))

<class 'str'>
TheHistoryandPhilosophyofScience
The,History,and,Philosophy,of,Science

In [ ]:
"Good Morning".find('or')

6

replace() creates a new string. It doesn't modify the original string (since strings are immutable).

In [ ]:
s1 = "Good Morning"
s2 = s1.replace("Good", "Great")

#original unchanged
print(s1)
#new string changed
print(s2)

Good Morning
Great Morning

In [ ]:
string = "Hello"

rev_str = reversed(string)

print(type(string))
print(type(rev_str))

<class 'str'>
<class 'reversed'>

In [ ]:
s1 = "abc"
print(s1)

#Here, it makes new string, and then reassigns s1 to the new string. It does not change s1 itself.
s1 = s1.upper()
print(s1)

abc
ABC

#Python Program to Check if a Given String is a Palindrome

In [ ]:
string = "madam"

#maybe better to have new variable as one might not want to erase the original assignment that string has. Might need it elsewhere at some point.
string_lower = string.lower()
print(list(string_lower))

rev_str = reversed(string_lower)
print(rev_str)

#Check
if list(string_lower)==list(rev_str):
  print("Pal")
else:
  print("not Pal")

['m', 'a', 'd', 'a', 'm']
<reversed object at 0x7d58a1ff9900>
Pal

#Python Program to Sort Words in Alphabetical Order

In [ ]:
sent = "Utilitarianism is a school of thought that places emphasis on the greater good rather than the individual."

words = sent.split()

words.sort()

for word in words:
  print(word)

Utilitarianism
a
emphasis
good
greater
individual.
is
of
on
places
rather
school
than
that
the
the
thought

In [ ]:
s = "abc"

len(s)

3